
.App{
  background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
  height: 100%;
}
html{
  background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
  height: 100%;
}
a.overlay {
  padding: 25px 150px 490px 30px;
  font-size: 0px;
}

a.overlay1 {
  padding: 115px 235px 75px 30px;
  font-size: 0px;
}

a.overlay2 {
  padding: 18px 75px 230px 79px;
  font-size: 0px;
}

.logo {
  top: 10px;
  right: 40%;
  position: relative;
  height: 150px;
  width: 150px;
}

.header1 {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: var(--box-shadow);
  text-align: center;
  color: #fff;
}


.Agents {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.agents {
  flex-basis: 22%;
  padding-bottom: 5.2%;
}

.agent {
  width: 220px;
  height: 525px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 25px 30px;
  background-size: cover;
  transition: 0.5s;
}

.agent:hover {
  transform: translateY(-10px);
}

.col2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 3rem;
}

.agents1 {
  background-image: url(images/Agents/SovaCard.jpg);
}

.agents2 {
  background-image: url(images/Agents/Chambercard.png);
}

.agents3 {
  background-image: url(images/Agents/Yorucard.png);
}

.agents4 {
  background-image: url(images/Agents/SageCard.jpg);
}

.agents5 {
  background-image: url(images/Agents/JettCard.jpg);
}

.col1 {
  margin-left: 15%;
}

.cardagent {
  width: 200px;
  height: 250px;
  display: inline-block;
  border-radius: 10px;
  padding: 3px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 20px 25px;
  background-position: center;
  background-size: cover;
  transition: 0.5s;
}

.cardagent:hover {
  transform: translateY(-10px);
}

.cardpVl {
  color: #fff;
  font-family: 'Roboto';
  font-size: 11px;
  margin-top: 100%;
}

.hVl1{
  font-size: 40px !important;
}

.h5Vl {
  position: relative;
  bottom: 60px;
  color: #fff;
  font-family: 'Roboto';
  font-size: 24px;
}

.cardcontent {
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 3rem;
    padding-right: 3.8rem;
    margin-bottom: 2rem;

}
.h4{
  color: #fff;
}
.rankimg{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -124px;

}

.textcontent {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 30px;
}
.imgcontent{
  width: 200px;
  height: 450px;
}

.modal-content{  
  background: url(images/deskdemonslogo.png) !important;
  background-repeat: no-repeat;
  background-size: cover !important;
}

.gradtext{
  background: linear-gradient(90deg, #ff0000, #000000, #ff0000, #000000, #ff0000, #000000);
  background-size: 400%;
  font-size: 24px;
  font-family: 'Roboto';
  letter-spacing: 5px;
  font-weight: 600;
  word-spacing: 5px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: animate 10s linear infinite;
}
@keyframes animate {
  0%{
    background-position: 0%;
  }
  100%{
    background-position: 400%;
  }
}